In [1]:

import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
#import datetime
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
import csv
import time

from yahooquery import Ticker


#import pandas_datareader.data as data
#import yfinance as yf


#yf.pdr_override()
from scipy import stats


import mibian

import sys

np.seterr(divide='ignore', invalid='ignore')

import xlwings as xw

In [4]:

wb = xw.Book("daily.xlsm")
sht2 = wb.sheets['options_chain']
sht3 = wb.sheets['ticker_list']

In [5]:
shtlist= sht3.range('A1').options(pd.DataFrame, 
                             header=False,
                             index=False, 
                             expand='table').value

In [6]:
stonks=shtlist.iloc[1:,0].tolist()

In [7]:
stonks

['AAPL',
 'MSFT',
 'AMZN',
 'TSLA',
 'GOOG',
 'GOOGL',
 'META',
 'NVDA',
 'PEP',
 'AVGO',
 'COST',
 'CSCO',
 'CMCSA',
 'ADBE',
 'INTC',
 'TMUS',
 'TXN',
 'QCOM',
 'AMD',
 'AMGN',
 'HON',
 'INTU',
 'AMAT',
 'MDLZ',
 'ADP',
 'QQQ',
 'KO',
 'SBUX',
 'WMT',
 'JNJ',
 'PG',
 'UVXY',
 'SPY',
 'HD',
 'MU']

In [7]:
stocklist = stonks

In [8]:
t1 = Ticker(stonks, asynchronous=True)

In [9]:
df = pd.DataFrame()
df = t1.option_chain

In [10]:
df.shape

(53288, 14)

In [11]:
df.head()

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
AAPL   2023-01-13 calls       AAPL230113C00050000    50.0      USD      79.15
                  calls       AAPL230113C00055000    55.0      USD      74.75
                  calls       AAPL230113C00060000    60.0      USD      72.95
                  calls       AAPL230113C00065000    65.0      USD      65.15
                  calls       AAPL230113C00070000    70.0      USD      60.70

                                change  percentChange  volume  openInterest  \
symbol expiration optionType
AAPL   2023-01-13 calls       0.000000       0.000000    38.0          55.0
                  calls       0.000000       0.000000     2.0           5.0
                  calls       3.299995       4.737969    81.0           5.0
                  calls       0.000000       0.000000     1.0           3.0
                  calls       0.000000       0.000000     2.0           4.0

                                bid    ask contractSize       lastTradeDate  \
symbol expiration optionType
AAPL   2023-01-13 calls       83.25  83.65      REGULAR 2023-01-10 17:27:18
                  calls       78.25  78.65      REGULAR 2023-01-10 15:02:47
                  calls       73.30  73.60      REGULAR 2023-01-11 18:04:05
                  calls       68.25  68.65      REGULAR 2023-01-10 18:50:44
                  calls       63.25  63.60      REGULAR 2023-01-10 14:37:01

                              impliedVolatility  inTheMoney
symbol expiration optionType
AAPL   2023-01-13 calls                5.953128        True
                  calls                5.414066        True
                  calls                4.687504        True
                  calls                4.468754        True
                  calls                3.843750        True

In [12]:
df.reset_index(inplace=True)

In [13]:
#df.loc[df['symbol'] == 'MSFT']

In [14]:
stocks=df.symbol.unique().tolist() 
stocks2 = Ticker(stocks, asynchronous=True)

In [15]:


def getquotetoday(symbol):
        tk= Ticker(symbol).price
        quote=tk[symbol]['regularMarketPrice']
        return quote

In [16]:

start = time.time()


L2=list([getquotetoday(item) for item in stocks])


end = time.time()
print(end - start)

5.524683952331543

In [17]:
d = dict(zip(stocks,L2))

In [18]:
df['stock_price'] = df['symbol'].map(d)

In [19]:
df

,symbol,expiration,optionType,contractSymbol,strike,currency,lastPrice,change,percentChange,volume,openInterest,bid,ask,contractSize,lastTradeDate,impliedVolatility,inTheMoney,stock_price
0,AAPL,2023-01-13,calls,AAPL230113C00050000,50.0,USD,79.15,0.000000,0.000000,38.0,55.0,83.25,83.65,REGULAR,2023-01-10 17:27:18,5.953128,True,133.49
1,AAPL,2023-01-13,calls,AAPL230113C00055000,55.0,USD,74.75,0.000000,0.000000,2.0,5.0,78.25,78.65,REGULAR,2023-01-10 15:02:47,5.414066,True,133.49
2,AAPL,2023-01-13,calls,AAPL230113C00060000,60.0,USD,72.95,3.299995,4.737969,81.0,5.0,73.30,73.60,REGULAR,2023-01-11 18:04:05,4.687504,True,133.49
3,AAPL,2023-01-13,calls,AAPL230113C00065000,65.0,USD,65.15,0.000000,0.000000,1.0,3.0,68.25,68.65,REGULAR,2023-01-10 18:50:44,4.468754,True,133.49
4,AAPL,2023-01-13,calls,AAPL230113C00070000,70.0,USD,60.70,0.000000,0.000000,2.0,4.0,63.25,63.60,REGULAR,2023-01-10 14:37:01,3.843750,True,133.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53283,WMT,2025-01-17,puts,WMT250117P00190000,190.0,USD,40.24,0.000000,0.000000,1.0,1.0,47.15,47.90,REGULAR,2022-11-22 15:11:37,0.192330,True,146.13
53284,WMT,2025-01-17,puts,WMT250117P00195000,195.0,USD,44.25,0.000000,0.000000,1.0,0.0,51.85,52.90,REGULAR,2022-11-22 15:11:37,0.203621,True,146.13
53285,WMT,2025-01-17,puts,WMT250117P00200000,200.0,USD,55.20,0.000000,0.000000,3.0,0.0,52.60,55.35,REGULAR,2023-01-10 18:52:54,0.160958,True,146.13
53286,WMT,2025-01-17,puts,WMT250117P00210000,210.0,USD,59.90,0.000000,0.000000,0.0,0.0,63.35,67.65,REGULAR,2022-12-07 14:30:17,0.229927,True,146.13
53287,WMT,2025-01-17,puts,WMT250117P00220000,220.0,USD,78.00,0.000000,0.000000,4.0,4.0,72.30,75.75,REGULAR,2023-01-05 17:17:59,0.206063,True,146.13

In [20]:
def optionBS_price(optionType,S, K, sigma, dte):
    '''optionType=call or put, S=stock_price,K=strike, sigma=newMeanSigma, dte=dte .'''
    r=0
    t=dte/365
    d1 = np.multiply( 1. / sigma * np.divide(1., np.sqrt(t)),
        np.log(S/K) + (r + sigma**2 / 2.) * t  )
    d2 = d1 - sigma * np.sqrt(t)
    
    if optionType=="calls":
        C = np.multiply(S, norm.cdf(d1)) - \
        np.multiply(norm.cdf(d2) * K, np.exp(-r * t))
        return C
       
    if optionType=="puts":
        P = -np.multiply(S, norm.cdf(-d1)) + \
        np.multiply(norm.cdf(-d2) * K, np.exp(-r * t))
        return P

In [21]:
df['V/OI']= df['volume'].astype('float')/df['openInterest']
df['contractSymbol'] = df['contractSymbol'].astype(str)

df[['bid', 'ask', 'strike']] = df[['bid', 'ask', 'strike']].apply(pd.to_numeric)
df['mark'] = (df['bid'] + df['ask']) / 2 # Calculate the midpoint of the bid-ask

        
df.insert(3, 'Distance OTM', df['stock_price'] - df['strike'])
df['Value'] = df['openInterest']*df['lastPrice']*100
df['Dist/Price'] = -df['Distance OTM'] / df['stock_price'] 

df['dte'] = (df['expiration'] - datetime.today()).dt.days 



df = df.drop(columns = ['contractSize', 'currency', 'change', 'percentChange', 'lastTradeDate'])

In [22]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,ask,impliedVolatility,inTheMoney,stock_price,V/OI,mark,Value,Dist/Price,dte
0,AAPL,2023-01-13,calls,83.49,AAPL230113C00050000,50.0,79.15,38.0,55.0,83.25,83.65,5.953128,True,133.49,0.690909,83.450,435325.0,-0.625440,1
1,AAPL,2023-01-13,calls,78.49,AAPL230113C00055000,55.0,74.75,2.0,5.0,78.25,78.65,5.414066,True,133.49,0.400000,78.450,37375.0,-0.587984,1
2,AAPL,2023-01-13,calls,73.49,AAPL230113C00060000,60.0,72.95,81.0,5.0,73.30,73.60,4.687504,True,133.49,16.200000,73.450,36475.0,-0.550528,1
3,AAPL,2023-01-13,calls,68.49,AAPL230113C00065000,65.0,65.15,1.0,3.0,68.25,68.65,4.468754,True,133.49,0.333333,68.450,19545.0,-0.513072,1
4,AAPL,2023-01-13,calls,63.49,AAPL230113C00070000,70.0,60.70,2.0,4.0,63.25,63.60,3.843750,True,133.49,0.500000,63.425,24280.0,-0.475616,1

In [23]:
df['Abs_Dist/Price'] = df['Dist/Price'].abs()

In [24]:
#def gamma(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).gamma
        
#with np.errstate(divide='ignore', invalid='ignore'):
 #   df['gamma'] = df.apply(lambda x: gamma(x), axis=1)

In [25]:
#def vega(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).vega

#with np.errstate(divide='ignore', invalid='ignore'):        
 #   df['vega'] = df.apply(lambda x: vega(x), axis=1)

In [26]:
#df['vega_per'] = df['vega'] / df['ask'] 
#df['IV_inver'] = 1 / df['impliedVolatility']

In [27]:
d = datetime.today() - timedelta(days=30)
yq_data = stocks2.history(start=d, interval='1d')

In [28]:
yq_data.reset_index(inplace=True)

In [29]:
yq_data

,symbol,date,volume,high,low,open,close,adjclose,dividends
0,AAPL,2022-12-13,93886200,149.970001,144.240005,149.500000,145.470001,145.470001,0.0
1,AAPL,2022-12-14,82291200,146.660004,141.160004,145.350006,143.210007,143.210007,0.0
2,AAPL,2022-12-15,98931900,141.800003,136.029999,141.110001,136.500000,136.500000,0.0
3,AAPL,2022-12-16,160156900,137.649994,133.729996,136.690002,134.509995,134.509995,0.0
4,AAPL,2022-12-19,79592600,135.199997,131.320007,135.110001,132.369995,132.369995,0.0
...,...,...,...,...,...,...,...,...,...
695,WMT,2023-01-05,4424800,144.130005,142.649994,143.460007,143.270004,143.270004,0.0
696,WMT,2023-01-06,7076300,147.550003,144.240005,144.600006,146.779999,146.779999,0.0
697,WMT,2023-01-09,5918900,147.860001,144.800003,146.320007,144.949997,144.949997,0.0
698,WMT,2023-01-10,3990200,145.449997,143.729996,144.940002,144.860001,144.860001,0.0
699,WMT,2023-01-11,4942800,146.179993,144.729996,145.740005,146.130005,146.130005,0.0

In [30]:
today_volume = yq_data.groupby('symbol')['volume'].last().to_dict()

In [31]:
yq_data = yq_data.drop(columns = ['open', 'low', 'close', 'high','dividends'])# 'dividends'])

In [32]:
yq_data = yq_data.assign(logret=np.log(yq_data.adjclose).groupby(yq_data.symbol).diff())

In [33]:
yq_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   symbol    700 non-null    object
 1   date      700 non-null    object
 2   volume    700 non-null    int64
 3   adjclose  700 non-null    float64
 4   logret    665 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 27.5+ KB

In [34]:
yq_data2 =pd.DataFrame()

yq_data2 = yq_data.groupby('symbol').agg(np.std, ddof=1)

c:\Users\gavar\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [35]:
yq_data2

        date        volume   adjclose    logret
symbol
AAPL     NaN  2.126384e+07   5.314981  0.022579
ADBE     NaN  2.327298e+06   4.873788  0.021312
ADP      NaN  7.086279e+05   7.123168  0.016983
AMAT     NaN  2.386487e+06   5.427878  0.030956
AMD      NaN  1.268652e+07   2.424889  0.028960
AMGN     NaN  1.648944e+06   4.217388  0.011368
AMZN     NaN  2.139751e+07   3.446346  0.026448
AVGO     NaN  1.099132e+06  11.943500  0.019953
CMCSA    NaN  1.253024e+07   1.428393  0.017090
COST     NaN  1.094393e+06  12.451224  0.020713
CSCO     NaN  1.192826e+07   0.833478  0.011279
GOOG     NaN  7.239430e+06   2.406410  0.019524
GOOGL    NaN  9.147533e+06   2.497208  0.019484
HD       NaN  1.852085e+06   5.736644  0.012799
HON      NaN  1.340923e+06   2.743221  0.014195
INTC     NaN  1.344781e+07   1.301117  0.021196
INTU     NaN  7.288795e+05  12.535900  0.024150
JNJ      NaN  3.561252e+06   1.664606  0.009063
KO       NaN  5.829177e+06   0.668781  0.009331
MDLZ     NaN  3.141363e+06   0.689681  0.010009
META     NaN  1.119827e+07   5.904706  0.024333
MSFT     NaN  1.561836e+07   9.404532  0.019876
MU       NaN  6.861685e+06   2.911224  0.026969
NVDA     NaN  8.760265e+06  11.796882  0.035429
PEP      NaN  2.828129e+06   1.878086  0.008768
PG       NaN  3.488006e+06   1.068824  0.009160
QCOM     NaN  2.231956e+06   4.484740  0.025398
QQQ      NaN  1.164446e+07   7.265192  0.016150
SBUX     NaN  2.594327e+06   3.112597  0.013918
SPY      NaN  2.090041e+07   6.343341  0.012360
TMUS     NaN  3.213348e+06   3.617301  0.013018
TSLA     NaN  3.288614e+07  17.683515  0.059123
TXN      NaN  1.887278e+06   5.647973  0.020003
UVXY     NaN  1.203292e+07   0.452014  0.041065
WMT      NaN  2.282833e+06   1.708307  0.010710

In [36]:
yq_data2['stdev'] = yq_data2['logret'] * 252**.5

In [37]:
yq_data2.reset_index(inplace=True)

In [38]:
vol_map = dict(yq_data2[['symbol','stdev']].values)

In [39]:
d90 = datetime.today() - timedelta(days=90)
yq_data90x = stocks2.history(start=d90, interval='1d')

yq_data90x.reset_index(inplace=True)

yq_data90 = yq_data90x.drop(columns = ['open', 'low', 'close', 'high', 'dividends'])
yq_data90 = yq_data90.assign(logret=np.log(yq_data90.adjclose).groupby(yq_data90.symbol).diff()) 

yq_data2_90 =pd.DataFrame()

yq_data2_90 = yq_data90.groupby('symbol').agg(np.std, ddof=1) 

yq_data2_90['stdev'] = yq_data2_90['logret'] * 252**.5
yq_data2_90.reset_index(inplace=True)
vol_map90 = dict(yq_data2_90[['symbol','stdev']].values)

c:\Users\gavar\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [40]:
yq_data90

     symbol        date    volume    adjclose    logret
0      AAPL  2022-10-14  88598000  138.150833       NaN
1      AAPL  2022-10-17  85250900  142.174164  0.028707
2      AAPL  2022-10-18  99136600  143.511932  0.009365
3      AAPL  2022-10-19  61758300  143.621750  0.000765
4      AAPL  2022-10-20  64522000  143.152527 -0.003272
...     ...         ...       ...         ...       ...
2130    WMT  2023-01-05   4424800  143.270004 -0.003414
2131    WMT  2023-01-06   7076300  146.779999  0.024204
2132    WMT  2023-01-09   5918900  144.949997 -0.012546
2133    WMT  2023-01-10   3990200  144.860001 -0.000621
2134    WMT  2023-01-11   4942800  146.130005  0.008729

[2135 rows x 5 columns]

In [41]:
yq_data3 =pd.DataFrame()

yq_data3 = yq_data.groupby('symbol')['volume'].agg(np.mean).to_dict()

In [42]:
df['h_volume'] = df.symbol.map(yq_data3)

In [43]:
df['volume_today'] = df.symbol.map(today_volume)

In [44]:
df['hvol_30'] = df.symbol.map(vol_map)

In [45]:
df['hvol_90'] = df.symbol.map(vol_map90)

In [46]:
df['vT/vH'] =  df['volume_today'] / df['h_volume']

In [47]:
df['mean_sigma'] =  .65*df['hvol_30'] + .2*df['hvol_90'] +.15*df['impliedVolatility'] 
df['ba_spread'] =  ((df['ask'] - df['bid'])/df['ask']).abs()

In [48]:
df = df[df['ba_spread'] > 0]

In [49]:
df['option_bs_mean_S'] = df.apply(lambda row: optionBS_price(row['optionType'],row['stock_price'], row['strike'],row['mean_sigma'],row['dte']), axis=1)

In [50]:
df['EOM']  =  pd.to_datetime(pd.Period(date.today(),freq='M').end_time.date()).floor('D')

In [51]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,Abs_Dist/Price,h_volume,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,EOM
0,AAPL,2023-01-13,calls,83.49,AAPL230113C00050000,50.0,79.15,38.0,55.0,83.25,...,0.625440,85046210.0,69359700,0.358427,0.400303,0.815553,1.206007,0.004782,83.49,2023-01-31
1,AAPL,2023-01-13,calls,78.49,AAPL230113C00055000,55.0,74.75,2.0,5.0,78.25,...,0.587984,85046210.0,69359700,0.358427,0.400303,0.815553,1.125148,0.005086,78.49,2023-01-31
2,AAPL,2023-01-13,calls,73.49,AAPL230113C00060000,60.0,72.95,81.0,5.0,73.30,...,0.550528,85046210.0,69359700,0.358427,0.400303,0.815553,1.016164,0.004076,73.49,2023-01-31
3,AAPL,2023-01-13,calls,68.49,AAPL230113C00065000,65.0,65.15,1.0,3.0,68.25,...,0.513072,85046210.0,69359700,0.358427,0.400303,0.815553,0.983351,0.005827,68.49,2023-01-31
4,AAPL,2023-01-13,calls,63.49,AAPL230113C00070000,70.0,60.70,2.0,4.0,63.25,...,0.475616,85046210.0,69359700,0.358427,0.400303,0.815553,0.889601,0.005503,63.49,2023-01-31

In [52]:
df['value_plus'] = (df['option_bs_mean_S']/df.mark)-1

In [53]:
from MACD import rollavg
Price_roll = rollavg(stocks,yq_data90x,30,"Price",MACD_P=True)

In [54]:
Volume_roll = rollavg(stocks,yq_data90x,30,"Volume",MACD_V=True)

In [55]:
df['MACD_P'] = df['symbol'].map(Price_roll)
df['MACD_V'] = df['symbol'].map(Volume_roll)

In [56]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,EOM,value_plus,MACD_P,MACD_V
0,AAPL,2023-01-13,calls,83.49,AAPL230113C00050000,50.0,79.15,38.0,55.0,83.25,...,0.358427,0.400303,0.815553,1.206007,0.004782,83.49,2023-01-31,0.000479,1.002719,0.947006
1,AAPL,2023-01-13,calls,78.49,AAPL230113C00055000,55.0,74.75,2.0,5.0,78.25,...,0.358427,0.400303,0.815553,1.125148,0.005086,78.49,2023-01-31,0.000510,1.002719,0.947006
2,AAPL,2023-01-13,calls,73.49,AAPL230113C00060000,60.0,72.95,81.0,5.0,73.30,...,0.358427,0.400303,0.815553,1.016164,0.004076,73.49,2023-01-31,0.000545,1.002719,0.947006
3,AAPL,2023-01-13,calls,68.49,AAPL230113C00065000,65.0,65.15,1.0,3.0,68.25,...,0.358427,0.400303,0.815553,0.983351,0.005827,68.49,2023-01-31,0.000584,1.002719,0.947006
4,AAPL,2023-01-13,calls,63.49,AAPL230113C00070000,70.0,60.70,2.0,4.0,63.25,...,0.358427,0.400303,0.815553,0.889601,0.005503,63.49,2023-01-31,0.001025,1.002719,0.947006

In [57]:
#df.loc[(df['symbol'] == 'GSK') & (df['expiration'] == '2021-08-20') & (df['strike'] ==29), ['strike', 'ask','impliedVolatility','stock_price','dte','gamma','vega']]

In [58]:
#df.loc[(df['symbol'] == 'HOL')  & (df['strike'] ==10) & (df['expiration'] =='2021-06-18'),['optionType','hvol','hvol90','impliedVolatility']]

In [60]:
sht2.clear_contents()

In [61]:

sht2["A1"].options(pd.DataFrame, index=False, header=1,expand='table').value = df

In [62]:
cond1 = df.lastPrice <= 75
cond2 = df.value_plus <= -.15
cond3 = df.expiration <= pd.to_datetime(pd.Period(date.today(),freq='M').end_time.date()).floor('D')
cond4 = df.volume > 500
cond5 = df.ask >= 30
cond6 = df.optionType = 'calls'

In [75]:


df_filtered = df.query("stock_price<=70 & openInterest >=500 & expiration <= EOM & openInterest > 500  & ask >= 30 & value_plus <= -.15 ")

In [76]:
df_filtered2= df_filtered[['symbol','expiration','strike','lastPrice','bid','ask','option_bs_mean_S','stock_price','value_plus']].loc[(df_filtered.optionType == "calls")].sort_values('value_plus').head(25)

In [77]:
df_filtered2['share_purchase_cost'] = df_filtered2.stock_price *100
df_filtered2['short_call_income'] = df_filtered2.bid *100
df_filtered2['net_income'] = df_filtered2['share_purchase_cost'] -df_filtered2['short_call_income']

In [78]:
df_filtered2

Empty DataFrame
Columns: [symbol, expiration, strike, lastPrice, bid, ask, option_bs_mean_S, stock_price, value_plus, share_purchase_cost, short_call_income, net_income]
Index: []

In [59]:

slope = pd.pivot_table(df, index = ['symbol','expiration'], columns='strike', values = 'impliedVolatility', aggfunc='mean').reset_index(level=1)

In [60]:
slope.reset_index(inplace=True)

In [61]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4800.0,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0
0,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2023-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:

def slope_reg(i):
    #for i in range(len(slope.index)):
        slopex=slope.iloc[[i]].dropna(1)
        slopex1 = slopex.T
        x =slopex1.index[2:].to_numpy()
        x=x.astype(float)
        y = slopex1.iloc[2:,0:].to_numpy()
        y = y.ravel()
        y=y.astype(float)
        slopeB = stats.linregress(x, y)
        return slopeB.slope

In [63]:
slope['slope_reg'] = slope.apply(lambda row: slope_reg(row.name), axis=1)

In [64]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0,slope_reg
0,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003652
1,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001169
2,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.005774
3,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002905
4,AAPL,2023-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.004516

In [65]:
slope.groupby(['symbol'])['slope_reg'].mean().to_frame().reset_index().sort_values(['slope_reg'], ascending=False)

   symbol  slope_reg
31   UVXY   0.029181
11  GOOGL   0.000641
25    QQQ  -0.000402
1    ADBE  -0.000454
15   INTU  -0.000538
7    COST  -0.000648
2     AMD  -0.000678
19   MSFT  -0.000702
5    AVGO  -0.000706
30    TXN  -0.000790
29   TSLA  -0.000832
12     HD  -0.001034
21   NVDA  -0.001048
20   NFLX  -0.001073
27    SPY  -0.001211
24   QCOM  -0.001322
4    AMZN  -0.001339
13    HON  -0.001668
0    AAPL  -0.001727
18   META  -0.001997
3    AMGN  -0.002085
10   GOOG  -0.002141
32    WMT  -0.002996
22    PEP  -0.003142
23     PG  -0.003298
28   TMUS  -0.003528
26   SBUX  -0.003723
16    JNJ  -0.003764
8    CSCO  -0.003983
14   INTC  -0.006019
9    GILD  -0.007602
17     KO  -0.008579
6   CMCSA  -0.012342

In [66]:
slope.groupby(['symbol'])['slope_reg'].apply(lambda x : x.head(3).reset_index(drop = True)).groupby(['symbol']).mean().sort_values(ascending=False).head(20).to_frame().reset_index()

   symbol  slope_reg
0    UVXY   0.031989
1    CSCO   0.005593
2   GOOGL   0.004773
3     AMD   0.003896
4     QQQ   0.001680
5    TSLA   0.000978
6    MSFT   0.000649
7    ADBE  -0.000251
8    QCOM  -0.000474
9    INTU  -0.000526
10   NVDA  -0.001051
11   COST  -0.001503
12     HD  -0.001653
13   AVGO  -0.001782
14   AMZN  -0.002199
15    TXN  -0.002379
16    HON  -0.002424
17   NFLX  -0.002536
18   AMGN  -0.002781
19   AAPL  -0.003532