In [1]:

import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
#import datetime
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
import csv
import time

from yahooquery import Ticker


#import pandas_datareader.data as data
#import yfinance as yf


#yf.pdr_override()
from scipy import stats


import mibian

import sys

np.seterr(divide='ignore', invalid='ignore')

import xlwings as xw

In [2]:

wb = xw.Book("daily.xlsm")
sht2 = wb.sheets['options_chain']
sht3 = wb.sheets['ticker_list']

In [3]:
shtlist= sht3.range('A1').options(pd.DataFrame, 
                             header=False,
                             index=False, 
                             expand='table').value

In [4]:
stonks=shtlist.iloc[1:,0].tolist()

In [5]:
stonks

['AAPL',
 'MSFT',
 'AMZN',
 'TSLA',
 'GOOG',
 'GOOGL',
 'FB',
 'NVDA',
 'PEP',
 'AVGO',
 'CMCSA',
 'COST',
 'ADBE',
 'CSCO',
 'INTC',
 'TMUS',
 'TXN',
 'AMD',
 'QCOM',
 'AMGN',
 'HON',
 'INTU',
 'AMAT',
 'PYPL',
 'ADP',
 'QQQ',
 'KO',
 'SBUX',
 'WMT',
 'JNJ',
 'PG',
 'UVXY',
 'SPY',
 'HD',
 'USO']

In [6]:
stocklist = stonks

In [7]:
t1 = Ticker(stonks, asynchronous=True)

In [8]:
df = pd.DataFrame()
df = t1.option_chain

In [9]:
df.shape

(47697, 14)

In [10]:
df.head()

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
AAPL   2023-01-06 calls       AAPL230106C00050000    50.0      USD      79.35
                  calls       AAPL230106C00055000    55.0      USD      73.95
                  calls       AAPL230106C00060000    60.0      USD      69.00
                  calls       AAPL230106C00065000    65.0      USD      65.01
                  calls       AAPL230106C00075000    75.0      USD      53.25

                                 change  percentChange  volume  openInterest  \
symbol expiration optionType
AAPL   2023-01-06 calls      -19.500000     -19.726858    22.0           1.0
                  calls       -1.150001      -1.531294    19.0           2.0
                  calls       -3.349998      -4.630268    21.0           2.0
                  calls        0.000000       0.000000    20.0          26.0
                  calls        1.180000       2.266181     8.0          20.0

                                bid    ask contractSize       lastTradeDate  \
symbol expiration optionType
AAPL   2023-01-06 calls       79.70  80.25      REGULAR 2022-12-30 20:49:16
                  calls       74.70  75.20      REGULAR 2022-12-30 20:25:27
                  calls       69.70  70.15      REGULAR 2022-12-30 20:26:27
                  calls       64.60  65.15      REGULAR 2022-12-29 19:33:48
                  calls       54.75  55.25      REGULAR 2022-12-30 15:17:51

                              impliedVolatility  inTheMoney
symbol expiration optionType
AAPL   2023-01-06 calls                2.671878        True
                  calls                2.218754        True
                  calls                2.679691        True
                  calls                2.425785        True
                  calls                1.679689        True

In [11]:
df.reset_index(inplace=True)

In [12]:
#df.loc[df['symbol'] == 'MSFT']

In [12]:
stocks=df.symbol.unique().tolist() 
stocks2 = Ticker(stocks, asynchronous=True)

In [13]:


def getquotetoday(symbol):
        tk= Ticker(symbol).price
        quote=tk[symbol]['regularMarketPrice']
        return quote

In [14]:

start = time.time()


L2=list([getquotetoday(item) for item in stocks])


end = time.time()
print(end - start)

4.874255180358887

In [15]:
d = dict(zip(stocks,L2))

In [16]:
df['stock_price'] = df['symbol'].map(d)

In [17]:
df

,symbol,expiration,optionType,contractSymbol,strike,currency,lastPrice,change,percentChange,volume,openInterest,bid,ask,contractSize,lastTradeDate,impliedVolatility,inTheMoney,stock_price
0,AAPL,2023-01-06,calls,AAPL230106C00050000,50.0,USD,79.35,-19.500000,-19.726858,22.0,1.0,79.70,80.25,REGULAR,2022-12-30 20:49:16,2.671878,True,129.93
1,AAPL,2023-01-06,calls,AAPL230106C00055000,55.0,USD,73.95,-1.150001,-1.531294,19.0,2.0,74.70,75.20,REGULAR,2022-12-30 20:25:27,2.218754,True,129.93
2,AAPL,2023-01-06,calls,AAPL230106C00060000,60.0,USD,69.00,-3.349998,-4.630268,21.0,2.0,69.70,70.15,REGULAR,2022-12-30 20:26:27,2.679691,True,129.93
3,AAPL,2023-01-06,calls,AAPL230106C00065000,65.0,USD,65.01,0.000000,0.000000,20.0,26.0,64.60,65.15,REGULAR,2022-12-29 19:33:48,2.425785,True,129.93
4,AAPL,2023-01-06,calls,AAPL230106C00075000,75.0,USD,53.25,1.180000,2.266181,8.0,20.0,54.75,55.25,REGULAR,2022-12-30 15:17:51,1.679689,True,129.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47692,WMT,2025-01-17,puts,WMT250117P00190000,190.0,USD,40.24,0.000000,0.000000,1.0,1.0,45.70,47.90,REGULAR,2022-11-22 15:11:37,0.000010,True,141.79
47693,WMT,2025-01-17,puts,WMT250117P00195000,195.0,USD,44.25,0.000000,0.000000,1.0,0.0,50.10,52.80,REGULAR,2022-11-22 15:11:37,0.000010,True,141.79
47694,WMT,2025-01-17,puts,WMT250117P00200000,200.0,USD,50.87,0.000000,0.000000,1.0,0.0,55.05,55.95,REGULAR,2022-11-15 15:52:14,0.000010,True,141.79
47695,WMT,2025-01-17,puts,WMT250117P00210000,210.0,USD,59.90,0.000000,0.000000,0.0,0.0,67.10,69.50,REGULAR,2022-12-07 14:30:17,0.183236,True,141.79
47696,WMT,2025-01-17,puts,WMT250117P00220000,220.0,USD,69.85,0.000000,0.000000,0.0,0.0,76.55,80.05,REGULAR,2022-12-07 14:30:17,0.215462,True,141.79

In [18]:
def optionBS_price(optionType,S, K, sigma, dte):
    '''optionType=call or put, S=stock_price,K=strike, sigma=newMeanSigma, dte=dte .'''
    r=0
    t=dte/365
    d1 = np.multiply( 1. / sigma * np.divide(1., np.sqrt(t)),
        np.log(S/K) + (r + sigma**2 / 2.) * t  )
    d2 = d1 - sigma * np.sqrt(t)
    
    if optionType=="calls":
        C = np.multiply(S, norm.cdf(d1)) - \
        np.multiply(norm.cdf(d2) * K, np.exp(-r * t))
        return C
       
    if optionType=="puts":
        P = -np.multiply(S, norm.cdf(-d1)) + \
        np.multiply(norm.cdf(-d2) * K, np.exp(-r * t))
        return P

In [19]:
df['V/OI']= df['volume'].astype('float')/df['openInterest']
df['contractSymbol'] = df['contractSymbol'].astype(str)

df[['bid', 'ask', 'strike']] = df[['bid', 'ask', 'strike']].apply(pd.to_numeric)
df['mark'] = (df['bid'] + df['ask']) / 2 # Calculate the midpoint of the bid-ask

        
df.insert(3, 'Distance OTM', df['stock_price'] - df['strike'])
df['Value'] = df['openInterest']*df['lastPrice']*100
df['Dist/Price'] = -df['Distance OTM'] / df['stock_price'] 

df['dte'] = (df['expiration'] - datetime.today()).dt.days 



df = df.drop(columns = ['contractSize', 'currency', 'change', 'percentChange', 'lastTradeDate'])

In [20]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,ask,impliedVolatility,inTheMoney,stock_price,V/OI,mark,Value,Dist/Price,dte
0,AAPL,2023-01-06,calls,79.93,AAPL230106C00050000,50.0,79.35,22.0,1.0,79.70,80.25,2.671878,True,129.93,22.000000,79.975,7935.0,-0.615177,5
1,AAPL,2023-01-06,calls,74.93,AAPL230106C00055000,55.0,73.95,19.0,2.0,74.70,75.20,2.218754,True,129.93,9.500000,74.950,14790.0,-0.576695,5
2,AAPL,2023-01-06,calls,69.93,AAPL230106C00060000,60.0,69.00,21.0,2.0,69.70,70.15,2.679691,True,129.93,10.500000,69.925,13800.0,-0.538213,5
3,AAPL,2023-01-06,calls,64.93,AAPL230106C00065000,65.0,65.01,20.0,26.0,64.60,65.15,2.425785,True,129.93,0.769231,64.875,169026.0,-0.499731,5
4,AAPL,2023-01-06,calls,54.93,AAPL230106C00075000,75.0,53.25,8.0,20.0,54.75,55.25,1.679689,True,129.93,0.400000,55.000,106500.0,-0.422766,5

In [21]:
df['Abs_Dist/Price'] = df['Dist/Price'].abs()

In [22]:
#def gamma(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).gamma
        
#with np.errstate(divide='ignore', invalid='ignore'):
 #   df['gamma'] = df.apply(lambda x: gamma(x), axis=1)

In [23]:
#def vega(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).vega

#with np.errstate(divide='ignore', invalid='ignore'):        
 #   df['vega'] = df.apply(lambda x: vega(x), axis=1)

In [24]:
#df['vega_per'] = df['vega'] / df['ask'] 
#df['IV_inver'] = 1 / df['impliedVolatility']

In [25]:
d = datetime.today() - timedelta(days=30)
yq_data = stocks2.history(start=d, interval='1d')

In [26]:
yq_data.reset_index(inplace=True)

In [27]:
yq_data

,symbol,date,open,low,volume,high,close,adjclose,dividends
0,AAPL,2022-12-01,148.210007,146.610001,71250400,149.130005,148.309998,148.309998,0.0
1,AAPL,2022-12-02,145.960007,145.649994,65421400,148.000000,147.809998,147.809998,0.0
2,AAPL,2022-12-05,147.770004,145.770004,68826400,150.919998,146.630005,146.630005,0.0
3,AAPL,2022-12-06,147.070007,141.919998,64727200,147.300003,142.910004,142.910004,0.0
4,AAPL,2022-12-07,142.190002,140.000000,69721100,143.369995,140.940002,140.940002,0.0
...,...,...,...,...,...,...,...,...,...
709,WMT,2022-12-23,143.050003,142.279999,3182500,143.800003,143.770004,143.770004,0.0
710,WMT,2022-12-27,144.039993,143.190002,3348200,144.449997,143.809998,143.809998,0.0
711,WMT,2022-12-28,143.470001,140.910004,5082100,143.669998,141.289993,141.289993,0.0
712,WMT,2022-12-29,142.139999,141.750000,3057300,143.020004,142.149994,142.149994,0.0
713,WMT,2022-12-30,141.559998,140.809998,3834800,141.990005,141.789993,141.789993,0.0

In [28]:
today_volume = yq_data.groupby('symbol')['volume'].last().to_dict()

In [29]:
yq_data = yq_data.drop(columns = ['open', 'low', 'close', 'high','dividends'])# 'dividends'])

In [30]:
yq_data = yq_data.assign(logret=np.log(yq_data.adjclose).groupby(yq_data.symbol).diff())

In [39]:
yq_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   symbol    714 non-null    object
 1   date      714 non-null    object
 2   volume    714 non-null    int64
 3   adjclose  714 non-null    float64
 4   logret    680 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 28.0+ KB

In [35]:
yq_data2 =pd.DataFrame()

yq_data2 = yq_data.groupby('symbol').agg(np.std, ddof=1)

In [40]:
yq_data2

        date        volume   adjclose    logret
symbol
AAPL     NaN  2.077859e+07   6.970030  0.018687
ADBE     NaN  2.254892e+06   5.124272  0.019377
ADP      NaN  6.940589e+05  10.428980  0.016564
AMAT     NaN  2.419412e+06   5.168230  0.026095
AMD      NaN  1.142379e+07   4.113768  0.027020
AMGN     NaN  1.605520e+06   9.360994  0.008245
AMZN     NaN  1.992043e+07   3.788523  0.021684
AVGO     NaN  9.723196e+05  14.657650  0.018183
CMCSA    NaN  1.209029e+07   0.696875  0.016249
COST     NaN  1.405702e+06  15.444652  0.011981
CSCO     NaN  1.164019e+07   0.931840  0.010327
GOOG     NaN  7.228143e+06   4.420246  0.017840
GOOGL    NaN  8.719615e+06   4.519448  0.017754
HD       NaN  1.818346e+06   5.590049  0.013688
HON      NaN  1.248613e+06   2.492136  0.011189
INTC     NaN  1.326285e+07   1.316034  0.015879
INTU     NaN  7.263125e+05  13.773031  0.026055
JNJ      NaN  3.447865e+06   1.233704  0.007353
KO       NaN  5.699806e+06   0.457412  0.008463
MSFT     NaN  1.475089e+07   6.771193  0.016794
NVDA     NaN  8.932729e+06  11.661446  0.034842
PEP      NaN  2.770789e+06   1.565501  0.007079
PG       NaN  3.348023e+06   1.300817  0.007072
PYPL     NaN  5.023090e+06   2.868429  0.020431
QCOM     NaN  2.219500e+06   5.990653  0.020800
QQQ      NaN  1.135158e+07   9.843523  0.014599
SBUX     NaN  2.434493e+06   2.253608  0.011470
SPY      NaN  2.016021e+07   8.663513  0.011649
TMUS     NaN  3.099286e+06   4.410464  0.012139
TSLA     NaN  4.768655e+07  26.916506  0.047612
TXN      NaN  1.792746e+06   5.645937  0.014252
USO      NaN  1.769673e+06   2.376678  0.020434
UVXY     NaN  1.129303e+07   0.323300  0.043106
WMT      NaN  2.400090e+06   3.500896  0.010210

In [42]:
yq_data2['stdev'] = yq_data2['logret'] * 252**.5

In [43]:
yq_data2.reset_index(inplace=True)

In [44]:
vol_map = dict(yq_data2[['symbol','stdev']].values)

In [45]:
d90 = datetime.today() - timedelta(days=90)
yq_data90x = stocks2.history(start=d90, interval='1d')

yq_data90x.reset_index(inplace=True)

yq_data90 = yq_data90x.drop(columns = ['open', 'low', 'close', 'high', 'dividends'])
yq_data90 = yq_data90.assign(logret=np.log(yq_data90.adjclose).groupby(yq_data90.symbol).diff()) 

yq_data2_90 =pd.DataFrame()

yq_data2_90 = yq_data90.groupby('symbol').agg(np.std, ddof=1) 

yq_data2_90['stdev'] = yq_data2_90['logret'] * 252**.5
yq_data2_90.reset_index(inplace=True)
vol_map90 = dict(yq_data2_90[['symbol','stdev']].values)

In [46]:
yq_data90

     symbol        date     volume    adjclose    logret
0      AAPL  2022-10-03  114311700  142.214081       NaN
1      AAPL  2022-10-04   87830100  145.858047  0.025300
2      AAPL  2022-10-05   79471000  146.157532  0.002051
3      AAPL  2022-10-06   68402200  145.189148 -0.006648
4      AAPL  2022-10-07   85925600  139.857986 -0.037410
...     ...         ...        ...         ...       ...
2137    WMT  2022-12-23    3182500  143.770004  0.002019
2138    WMT  2022-12-27    3348200  143.809998  0.000278
2139    WMT  2022-12-28    5082100  141.289993 -0.017678
2140    WMT  2022-12-29    3057300  142.149994  0.006068
2141    WMT  2022-12-30    3834800  141.789993 -0.002536

[2142 rows x 5 columns]

In [47]:
yq_data3 =pd.DataFrame()

yq_data3 = yq_data.groupby('symbol')['volume'].agg(np.mean).to_dict()

In [48]:
df['h_volume'] = df.symbol.map(yq_data3)

In [49]:
df['volume_today'] = df.symbol.map(today_volume)

In [50]:
df['hvol_30'] = df.symbol.map(vol_map)

In [51]:
df['hvol_90'] = df.symbol.map(vol_map90)

In [52]:
df['vT/vH'] =  df['volume_today'] / df['h_volume']

In [53]:
df['mean_sigma'] =  .65*df['hvol_30'] + .2*df['hvol_90'] +.15*df['impliedVolatility'] 
df['ba_spread'] =  ((df['ask'] - df['bid'])/df['ask']).abs()

In [54]:
df = df[df['ba_spread'] > 0]

In [55]:
df['option_bs_mean_S'] = df.apply(lambda row: optionBS_price(row['optionType'],row['stock_price'], row['strike'],row['mean_sigma'],row['dte']), axis=1)

In [56]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,dte,Abs_Dist/Price,h_volume,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S
0,AAPL,2023-01-06,calls,79.93,AAPL230106C00050000,50.0,79.35,22.0,1.0,79.70,...,5,0.615177,7.978492e+07,76960600,0.29665,0.397993,0.964601,0.673203,0.006854,79.93
1,AAPL,2023-01-06,calls,74.93,AAPL230106C00055000,55.0,73.95,19.0,2.0,74.70,...,5,0.576695,7.978492e+07,76960600,0.29665,0.397993,0.964601,0.605234,0.006649,74.93
2,AAPL,2023-01-06,calls,69.93,AAPL230106C00060000,60.0,69.00,21.0,2.0,69.70,...,5,0.538213,7.978492e+07,76960600,0.29665,0.397993,0.964601,0.674375,0.006415,69.93
3,AAPL,2023-01-06,calls,64.93,AAPL230106C00065000,65.0,65.01,20.0,26.0,64.60,...,5,0.499731,7.978492e+07,76960600,0.29665,0.397993,0.964601,0.636289,0.008442,64.93
4,AAPL,2023-01-06,calls,54.93,AAPL230106C00075000,75.0,53.25,8.0,20.0,54.75,...,5,0.422766,7.978492e+07,76960600,0.29665,0.397993,0.964601,0.524375,0.009050,54.93

In [57]:
df['value+'] = (df['option_bs_mean_S']/df.mark)-1

In [58]:
from MACD import rollavg
Price_roll = rollavg(stocks,yq_data90x,30,"Price",MACD_P=True)

In [59]:
Volume_roll = rollavg(stocks,yq_data90x,30,"Volume",MACD_V=True)

In [60]:
df['MACD_P'] = df['symbol'].map(Price_roll)
df['MACD_V'] = df['symbol'].map(Volume_roll)

In [61]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,value+,MACD_P,MACD_V
0,AAPL,2023-01-06,calls,79.93,AAPL230106C00050000,50.0,79.35,22.0,1.0,79.70,...,76960600,0.29665,0.397993,0.964601,0.673203,0.006854,79.93,-0.000563,0.984027,0.974387
1,AAPL,2023-01-06,calls,74.93,AAPL230106C00055000,55.0,73.95,19.0,2.0,74.70,...,76960600,0.29665,0.397993,0.964601,0.605234,0.006649,74.93,-0.000267,0.984027,0.974387
2,AAPL,2023-01-06,calls,69.93,AAPL230106C00060000,60.0,69.00,21.0,2.0,69.70,...,76960600,0.29665,0.397993,0.964601,0.674375,0.006415,69.93,0.000072,0.984027,0.974387
3,AAPL,2023-01-06,calls,64.93,AAPL230106C00065000,65.0,65.01,20.0,26.0,64.60,...,76960600,0.29665,0.397993,0.964601,0.636289,0.008442,64.93,0.000848,0.984027,0.974387
4,AAPL,2023-01-06,calls,54.93,AAPL230106C00075000,75.0,53.25,8.0,20.0,54.75,...,76960600,0.29665,0.397993,0.964601,0.524375,0.009050,54.93,-0.001273,0.984027,0.974387

In [62]:
#df.loc[(df['symbol'] == 'GSK') & (df['expiration'] == '2021-08-20') & (df['strike'] ==29), ['strike', 'ask','impliedVolatility','stock_price','dte','gamma','vega']]

In [63]:
#df.loc[(df['symbol'] == 'HOL')  & (df['strike'] ==10) & (df['expiration'] =='2021-06-18'),['optionType','hvol','hvol90','impliedVolatility']]

In [64]:
sht2.clear_contents()

In [65]:

sht2["A1"].options(pd.DataFrame, index=False, header=1,expand='table').value = df

In [66]:

slope = pd.pivot_table(df, index = ['symbol','expiration'], columns='strike', values = 'impliedVolatility', aggfunc='mean').reset_index(level=1)

In [67]:
slope.reset_index(inplace=True)

In [68]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4800.0,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0
0,AAPL,2023-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:

def slope_reg(i):
    #for i in range(len(slope.index)):
        slopex=slope.iloc[[i]].dropna(1)
        slopex1 = slopex.T
        x =slopex1.index[2:].to_numpy()
        x=x.astype(float)
        y = slopex1.iloc[2:,0:].to_numpy()
        y = y.ravel()
        y=y.astype(float)
        slopeB = stats.linregress(x, y)
        return slopeB.slope

In [70]:
slope['slope_reg'] = slope.apply(lambda row: slope_reg(row.name), axis=1)

In [71]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0,slope_reg
0,AAPL,2023-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001649
1,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.004782
2,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001473
3,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.004313
4,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.004757

In [72]:
slope.groupby(['symbol'])['slope_reg'].mean().to_frame().reset_index().sort_values(['slope_reg'], ascending=False)

   symbol  slope_reg
32   UVXY   0.021148
12  GOOGL   0.000530
6    AMZN   0.000052
16   INTU  -0.000250
29   TSLA  -0.000374
2     ADP  -0.000514
1    ADBE  -0.000535
7    AVGO  -0.000633
9    COST  -0.000639
23   PYPL  -0.000906
20   NVDA  -0.000917
24   QCOM  -0.000954
13     HD  -0.001038
27    SPY  -0.001131
19   MSFT  -0.001153
4     AMD  -0.001210
11   GOOG  -0.001302
5    AMGN  -0.001413
22     PG  -0.001579
25    QQQ  -0.001595
30    TXN  -0.001707
0    AAPL  -0.001759
15   INTC  -0.001903
3    AMAT  -0.001929
21    PEP  -0.002136
8   CMCSA  -0.002200
33    WMT  -0.002312
17    JNJ  -0.002610
14    HON  -0.002901
10   CSCO  -0.002923
26   SBUX  -0.003028
28   TMUS  -0.003519
31    USO  -0.004084
18     KO  -0.008698

In [66]:
slope.groupby(['symbol'])['slope_reg'].apply(lambda x : x.head(3).reset_index(drop = True)).groupby(['symbol']).mean().sort_values(ascending=False).head(20).to_frame().reset_index()

   symbol  slope_reg
0    UVXY   0.014601
1    SBUX   0.008684
2    PYPL   0.007505
3    INTC   0.007394
4   CMCSA   0.005207
5     QQQ   0.003534
6     AMD   0.002963
7    NFLX   0.002814
8    NVDA   0.001944
9    INTU   0.001773
10   CSCO   0.001670
11   QCOM   0.001363
12     FB   0.000983
13   TSLA   0.000160
14   MSFT   0.000151
15   AMZN   0.000150
16   AAPL  -0.000012
17   ADBE  -0.000034
18  GOOGL  -0.000038
19   GOOG  -0.000129