In [1]:

import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
#import datetime
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
import csv
import time

from yahooquery import Ticker


#import pandas_datareader.data as data
#import yfinance as yf


#yf.pdr_override()
from scipy import stats


import mibian

import sys

np.seterr(divide='ignore', invalid='ignore')

import xlwings as xw

In [2]:

wb = xw.Book("daily.xlsm")
sht2 = wb.sheets['options_chain']
sht3 = wb.sheets['ticker_list']

In [3]:
shtlist= sht3.range('A1').options(pd.DataFrame, 
                             header=False,
                             index=False, 
                             expand='table').value

In [4]:
stonks=shtlist.iloc[1:,0].tolist()

In [5]:
stonks

['AAPL',
 'MSFT',
 'AMZN',
 'TSLA',
 'GOOG',
 'GOOGL',
 'META',
 'NVDA',
 'PEP',
 'AVGO',
 'COST',
 'CSCO',
 'CMCSA',
 'ADBE',
 'INTC',
 'TMUS',
 'TXN',
 'QCOM',
 'AMD',
 'AMGN',
 'HON',
 'INTU',
 'AMAT',
 'MDLZ',
 'ADP',
 'QQQ',
 'KO',
 'SBUX',
 'WMT',
 'JNJ',
 'PG',
 'UVXY',
 'SPY',
 'HD',
 'MU']

In [6]:
stocklist = stonks

In [7]:
t1 = Ticker(stonks, asynchronous=True)

In [8]:
df = pd.DataFrame()
df = t1.option_chain

In [9]:
df.shape

(53879, 14)

In [10]:
df.head()

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
AAPL   2023-01-13 calls       AAPL230113C00050000    50.0      USD      80.20
                  calls       AAPL230113C00055000    55.0      USD      74.80
                  calls       AAPL230113C00060000    60.0      USD      66.05
                  calls       AAPL230113C00065000    65.0      USD      60.80
                  calls       AAPL230113C00070000    70.0      USD      59.80

                                change  percentChange  volume  openInterest  \
symbol expiration optionType
AAPL   2023-01-13 calls       5.599998         7.5067    29.0           2.0
                  calls       0.000000         0.0000     2.0           3.0
                  calls       0.000000         0.0000     2.0           3.0
                  calls       0.000000         0.0000     0.0           2.0
                  calls       0.000000         0.0000     2.0           2.0

                                bid    ask contractSize       lastTradeDate  \
symbol expiration optionType
AAPL   2023-01-13 calls       80.05  80.35      REGULAR 2023-01-09 18:31:30
                  calls       75.00  75.40      REGULAR 2023-01-06 20:49:59
                  calls       70.00  70.40      REGULAR 2023-01-06 14:37:23
                  calls       65.00  65.35      REGULAR 2023-01-05 14:45:00
                  calls       60.00  60.40      REGULAR 2023-01-06 20:49:59

                              impliedVolatility  inTheMoney
symbol expiration optionType
AAPL   2023-01-13 calls                3.578126        True
                  calls                3.234377        True
                  calls                2.929690        True
                  calls                2.453129        True
                  calls                2.390629        True

In [11]:
df.reset_index(inplace=True)

In [12]:
#df.loc[df['symbol'] == 'MSFT']

In [13]:
stocks=df.symbol.unique().tolist() 
stocks2 = Ticker(stocks, asynchronous=True)

In [14]:


def getquotetoday(symbol):
        tk= Ticker(symbol).price
        quote=tk[symbol]['regularMarketPrice']
        return quote

In [15]:

start = time.time()


L2=list([getquotetoday(item) for item in stocks])


end = time.time()
print(end - start)

5.040922403335571

In [16]:
d = dict(zip(stocks,L2))

In [17]:
df['stock_price'] = df['symbol'].map(d)

In [18]:
df

,symbol,expiration,optionType,contractSymbol,strike,currency,lastPrice,change,percentChange,volume,openInterest,bid,ask,contractSize,lastTradeDate,impliedVolatility,inTheMoney,stock_price
0,AAPL,2023-01-13,calls,AAPL230113C00050000,50.0,USD,80.20,5.599998,7.5067,29.0,2.0,80.05,80.35,REGULAR,2023-01-09 18:31:30,3.578126,True,130.15
1,AAPL,2023-01-13,calls,AAPL230113C00055000,55.0,USD,74.80,0.000000,0.0000,2.0,3.0,75.00,75.40,REGULAR,2023-01-06 20:49:59,3.234377,True,130.15
2,AAPL,2023-01-13,calls,AAPL230113C00060000,60.0,USD,66.05,0.000000,0.0000,2.0,3.0,70.00,70.40,REGULAR,2023-01-06 14:37:23,2.929690,True,130.15
3,AAPL,2023-01-13,calls,AAPL230113C00065000,65.0,USD,60.80,0.000000,0.0000,0.0,2.0,65.00,65.35,REGULAR,2023-01-05 14:45:00,2.453129,True,130.15
4,AAPL,2023-01-13,calls,AAPL230113C00070000,70.0,USD,59.80,0.000000,0.0000,2.0,2.0,60.00,60.40,REGULAR,2023-01-06 20:49:59,2.390629,True,130.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53874,WMT,2025-01-17,puts,WMT250117P00190000,190.0,USD,40.24,0.000000,0.0000,1.0,1.0,45.70,47.90,REGULAR,2022-11-22 15:11:37,0.174782,True,144.95
53875,WMT,2025-01-17,puts,WMT250117P00195000,195.0,USD,44.25,0.000000,0.0000,1.0,0.0,50.10,52.80,REGULAR,2022-11-22 15:11:37,0.183449,True,144.95
53876,WMT,2025-01-17,puts,WMT250117P00200000,200.0,USD,50.87,0.000000,0.0000,1.0,0.0,55.05,55.95,REGULAR,2022-11-15 15:52:14,0.146615,True,144.95
53877,WMT,2025-01-17,puts,WMT250117P00210000,210.0,USD,59.90,0.000000,0.0000,0.0,0.0,62.50,66.50,REGULAR,2022-12-07 14:30:17,0.180672,True,144.95
53878,WMT,2025-01-17,puts,WMT250117P00220000,220.0,USD,78.00,0.000000,0.0000,4.0,4.0,73.15,77.00,REGULAR,2023-01-05 17:17:59,0.210915,True,144.95

In [19]:
def optionBS_price(optionType,S, K, sigma, dte):
    '''optionType=call or put, S=stock_price,K=strike, sigma=newMeanSigma, dte=dte .'''
    r=0
    t=dte/365
    d1 = np.multiply( 1. / sigma * np.divide(1., np.sqrt(t)),
        np.log(S/K) + (r + sigma**2 / 2.) * t  )
    d2 = d1 - sigma * np.sqrt(t)
    
    if optionType=="calls":
        C = np.multiply(S, norm.cdf(d1)) - \
        np.multiply(norm.cdf(d2) * K, np.exp(-r * t))
        return C
       
    if optionType=="puts":
        P = -np.multiply(S, norm.cdf(-d1)) + \
        np.multiply(norm.cdf(-d2) * K, np.exp(-r * t))
        return P

In [20]:
df['V/OI']= df['volume'].astype('float')/df['openInterest']
df['contractSymbol'] = df['contractSymbol'].astype(str)

df[['bid', 'ask', 'strike']] = df[['bid', 'ask', 'strike']].apply(pd.to_numeric)
df['mark'] = (df['bid'] + df['ask']) / 2 # Calculate the midpoint of the bid-ask

        
df.insert(3, 'Distance OTM', df['stock_price'] - df['strike'])
df['Value'] = df['openInterest']*df['lastPrice']*100
df['Dist/Price'] = -df['Distance OTM'] / df['stock_price'] 

df['dte'] = (df['expiration'] - datetime.today()).dt.days 



df = df.drop(columns = ['contractSize', 'currency', 'change', 'percentChange', 'lastTradeDate'])

In [21]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,ask,impliedVolatility,inTheMoney,stock_price,V/OI,mark,Value,Dist/Price,dte
0,AAPL,2023-01-13,calls,80.15,AAPL230113C00050000,50.0,80.20,29.0,2.0,80.05,80.35,3.578126,True,130.15,14.500000,80.200,16040.0,-0.615828,3
1,AAPL,2023-01-13,calls,75.15,AAPL230113C00055000,55.0,74.80,2.0,3.0,75.00,75.40,3.234377,True,130.15,0.666667,75.200,22440.0,-0.577411,3
2,AAPL,2023-01-13,calls,70.15,AAPL230113C00060000,60.0,66.05,2.0,3.0,70.00,70.40,2.929690,True,130.15,0.666667,70.200,19815.0,-0.538993,3
3,AAPL,2023-01-13,calls,65.15,AAPL230113C00065000,65.0,60.80,0.0,2.0,65.00,65.35,2.453129,True,130.15,0.000000,65.175,12160.0,-0.500576,3
4,AAPL,2023-01-13,calls,60.15,AAPL230113C00070000,70.0,59.80,2.0,2.0,60.00,60.40,2.390629,True,130.15,1.000000,60.200,11960.0,-0.462159,3

In [22]:
df['Abs_Dist/Price'] = df['Dist/Price'].abs()

In [23]:
#def gamma(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).gamma
        
#with np.errstate(divide='ignore', invalid='ignore'):
 #   df['gamma'] = df.apply(lambda x: gamma(x), axis=1)

In [24]:
#def vega(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).vega

#with np.errstate(divide='ignore', invalid='ignore'):        
 #   df['vega'] = df.apply(lambda x: vega(x), axis=1)

In [25]:
#df['vega_per'] = df['vega'] / df['ask'] 
#df['IV_inver'] = 1 / df['impliedVolatility']

In [26]:
d = datetime.today() - timedelta(days=30)
yq_data = stocks2.history(start=d, interval='1d')

In [27]:
yq_data.reset_index(inplace=True)

In [28]:
yq_data

,symbol,date,high,open,volume,close,low,adjclose,dividends
0,AAPL,2022-12-12,144.500000,142.699997,70462700,144.490005,141.059998,144.490005,0.0
1,AAPL,2022-12-13,149.970001,149.500000,93886200,145.470001,144.240005,145.470001,0.0
2,AAPL,2022-12-14,146.660004,145.350006,82291200,143.210007,141.160004,143.210007,0.0
3,AAPL,2022-12-15,141.800003,141.110001,98931900,136.500000,136.029999,136.500000,0.0
4,AAPL,2022-12-16,137.649994,136.690002,160156900,134.509995,133.729996,134.509995,0.0
...,...,...,...,...,...,...,...,...,...
660,WMT,2023-01-03,143.710007,142.550003,5749900,143.600006,142.089996,143.600006,0.0
661,WMT,2023-01-04,144.050003,143.419998,4446100,143.759995,142.070007,143.759995,0.0
662,WMT,2023-01-05,144.130005,143.460007,4424800,143.270004,142.649994,143.270004,0.0
663,WMT,2023-01-06,147.550003,144.600006,7076300,146.779999,144.240005,146.779999,0.0
664,WMT,2023-01-09,147.860001,146.320007,5915800,144.949997,144.800003,144.949997,0.0

In [29]:
today_volume = yq_data.groupby('symbol')['volume'].last().to_dict()

In [30]:
yq_data = yq_data.drop(columns = ['open', 'low', 'close', 'high','dividends'])# 'dividends'])

In [31]:
yq_data = yq_data.assign(logret=np.log(yq_data.adjclose).groupby(yq_data.symbol).diff())

In [32]:
yq_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   symbol    665 non-null    object
 1   date      665 non-null    object
 2   volume    665 non-null    int64
 3   adjclose  665 non-null    float64
 4   logret    630 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 26.1+ KB

In [33]:
yq_data2 =pd.DataFrame()

yq_data2 = yq_data.groupby('symbol').agg(np.std, ddof=1)

In [34]:
yq_data2

        date        volume   adjclose    logret
symbol
AAPL     NaN  2.119705e+07   6.151059  0.022423
ADBE     NaN  2.360532e+06   4.760921  0.021802
ADP      NaN  7.125818e+05   8.726971  0.016490
AMAT     NaN  2.436779e+06   5.345636  0.031792
AMD      NaN  1.271758e+07   2.576589  0.029565
AMGN     NaN  1.689786e+06   4.411805  0.011785
AMZN     NaN  2.115962e+07   2.935793  0.023034
AVGO     NaN  1.044793e+06  10.925937  0.021271
CMCSA    NaN  1.244823e+07   1.230333  0.017527
COST     NaN  1.103498e+06  12.519191  0.021201
CSCO     NaN  1.210669e+07   0.782519  0.011494
GOOG     NaN  7.454950e+06   2.556145  0.019157
GOOGL    NaN  9.367618e+06   2.675655  0.019006
HD       NaN  1.901410e+06   5.816816  0.011831
HON      NaN  1.361394e+06   2.869831  0.014534
INTC     NaN  1.331873e+07   1.121742  0.021597
INTU     NaN  7.453016e+05  13.582072  0.026497
JNJ      NaN  3.662819e+06   1.504152  0.009554
KO       NaN  5.978636e+06   0.579750  0.009489
MDLZ     NaN  3.167742e+06   0.656276  0.010286
META     NaN  1.151761e+07   4.918857  0.026351
MSFT     NaN  1.597553e+07   9.819368  0.019144
MU       NaN  6.813544e+06   2.526293  0.027412
NVDA     NaN  8.803299e+06  12.884562  0.036939
PEP      NaN  2.899312e+06   1.781337  0.008853
PG       NaN  3.522500e+06   1.068099  0.009238
QCOM     NaN  2.258304e+06   4.748118  0.025810
QQQ      NaN  1.184360e+07   8.008900  0.016027
SBUX     NaN  2.617947e+06   2.727061  0.014210
SPY      NaN  2.074629e+07   6.551294  0.012309
TMUS     NaN  3.279006e+06   2.841383  0.013774
TSLA     NaN  3.704433e+07  19.990838  0.059772
TXN      NaN  1.926479e+06   5.244246  0.020441
UVXY     NaN  1.214082e+07   0.400922  0.042508
WMT      NaN  2.325583e+06   1.912067  0.010795

In [35]:
yq_data2['stdev'] = yq_data2['logret'] * 252**.5

In [36]:
yq_data2.reset_index(inplace=True)

In [37]:
vol_map = dict(yq_data2[['symbol','stdev']].values)

In [38]:
d90 = datetime.today() - timedelta(days=90)
yq_data90x = stocks2.history(start=d90, interval='1d')

yq_data90x.reset_index(inplace=True)

yq_data90 = yq_data90x.drop(columns = ['open', 'low', 'close', 'high', 'dividends'])
yq_data90 = yq_data90.assign(logret=np.log(yq_data90.adjclose).groupby(yq_data90.symbol).diff()) 

yq_data2_90 =pd.DataFrame()

yq_data2_90 = yq_data90.groupby('symbol').agg(np.std, ddof=1) 

yq_data2_90['stdev'] = yq_data2_90['logret'] * 252**.5
yq_data2_90.reset_index(inplace=True)
vol_map90 = dict(yq_data2_90[['symbol','stdev']].values)

In [39]:
yq_data90

     symbol        date     volume    adjclose    logret
0      AAPL  2022-10-12   70433700  138.110886       NaN
1      AAPL  2022-10-13  113224000  142.753204  0.033060
2      AAPL  2022-10-14   88598000  138.150833 -0.032771
3      AAPL  2022-10-17   85250900  142.174164  0.028707
4      AAPL  2022-10-18   99136600  143.511932  0.009365
...     ...         ...        ...         ...       ...
2130    WMT  2023-01-03    5749900  143.600006  0.012685
2131    WMT  2023-01-04    4446100  143.759995  0.001114
2132    WMT  2023-01-05    4424800  143.270004 -0.003414
2133    WMT  2023-01-06    7076300  146.779999  0.024204
2134    WMT  2023-01-09    5915800  144.949997 -0.012546

[2135 rows x 5 columns]

In [40]:
yq_data3 =pd.DataFrame()

yq_data3 = yq_data.groupby('symbol')['volume'].agg(np.mean).to_dict()

In [41]:
df['h_volume'] = df.symbol.map(yq_data3)

In [42]:
df['volume_today'] = df.symbol.map(today_volume)

In [43]:
df['hvol_30'] = df.symbol.map(vol_map)

In [44]:
df['hvol_90'] = df.symbol.map(vol_map90)

In [45]:
df['vT/vH'] =  df['volume_today'] / df['h_volume']

In [46]:
df['mean_sigma'] =  .65*df['hvol_30'] + .2*df['hvol_90'] +.15*df['impliedVolatility'] 
df['ba_spread'] =  ((df['ask'] - df['bid'])/df['ask']).abs()

In [47]:
df = df[df['ba_spread'] > 0]

In [48]:
df['option_bs_mean_S'] = df.apply(lambda row: optionBS_price(row['optionType'],row['stock_price'], row['strike'],row['mean_sigma'],row['dte']), axis=1)

In [49]:
df['EOM']  =  pd.to_datetime(pd.Period(date.today(),freq='M').end_time.date()).floor('D')

In [50]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,Abs_Dist/Price,h_volume,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,EOM
0,AAPL,2023-01-13,calls,80.15,AAPL230113C00050000,50.0,80.20,29.0,2.0,80.05,...,0.615828,8.621134e+07,70675200,0.355958,0.409124,0.81979,0.849917,0.003734,80.15,2023-01-31
1,AAPL,2023-01-13,calls,75.15,AAPL230113C00055000,55.0,74.80,2.0,3.0,75.00,...,0.577411,8.621134e+07,70675200,0.355958,0.409124,0.81979,0.798354,0.005305,75.15,2023-01-31
2,AAPL,2023-01-13,calls,70.15,AAPL230113C00060000,60.0,66.05,2.0,3.0,70.00,...,0.538993,8.621134e+07,70675200,0.355958,0.409124,0.81979,0.752651,0.005682,70.15,2023-01-31
3,AAPL,2023-01-13,calls,65.15,AAPL230113C00065000,65.0,60.80,0.0,2.0,65.00,...,0.500576,8.621134e+07,70675200,0.355958,0.409124,0.81979,0.681167,0.005356,65.15,2023-01-31
4,AAPL,2023-01-13,calls,60.15,AAPL230113C00070000,70.0,59.80,2.0,2.0,60.00,...,0.462159,8.621134e+07,70675200,0.355958,0.409124,0.81979,0.671792,0.006623,60.15,2023-01-31

In [51]:
df['value_plus'] = (df['option_bs_mean_S']/df.mark)-1

In [52]:
from MACD import rollavg
Price_roll = rollavg(stocks,yq_data90x,30,"Price",MACD_P=True)

In [53]:
Volume_roll = rollavg(stocks,yq_data90x,30,"Volume",MACD_V=True)

In [54]:
df['MACD_P'] = df['symbol'].map(Price_roll)
df['MACD_V'] = df['symbol'].map(Volume_roll)

In [55]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,EOM,value_plus,MACD_P,MACD_V
0,AAPL,2023-01-13,calls,80.15,AAPL230113C00050000,50.0,80.20,29.0,2.0,80.05,...,0.355958,0.409124,0.81979,0.849917,0.003734,80.15,2023-01-31,-0.000623,0.993583,0.981969
1,AAPL,2023-01-13,calls,75.15,AAPL230113C00055000,55.0,74.80,2.0,3.0,75.00,...,0.355958,0.409124,0.81979,0.798354,0.005305,75.15,2023-01-31,-0.000665,0.993583,0.981969
2,AAPL,2023-01-13,calls,70.15,AAPL230113C00060000,60.0,66.05,2.0,3.0,70.00,...,0.355958,0.409124,0.81979,0.752651,0.005682,70.15,2023-01-31,-0.000712,0.993583,0.981969
3,AAPL,2023-01-13,calls,65.15,AAPL230113C00065000,65.0,60.80,0.0,2.0,65.00,...,0.355958,0.409124,0.81979,0.681167,0.005356,65.15,2023-01-31,-0.000384,0.993583,0.981969
4,AAPL,2023-01-13,calls,60.15,AAPL230113C00070000,70.0,59.80,2.0,2.0,60.00,...,0.355958,0.409124,0.81979,0.671792,0.006623,60.15,2023-01-31,-0.000831,0.993583,0.981969

In [56]:
#df.loc[(df['symbol'] == 'GSK') & (df['expiration'] == '2021-08-20') & (df['strike'] ==29), ['strike', 'ask','impliedVolatility','stock_price','dte','gamma','vega']]

In [57]:
#df.loc[(df['symbol'] == 'HOL')  & (df['strike'] ==10) & (df['expiration'] =='2021-06-18'),['optionType','hvol','hvol90','impliedVolatility']]

In [58]:
sht2.clear_contents()

In [59]:

sht2["A1"].options(pd.DataFrame, index=False, header=1,expand='table').value = df

In [60]:
cond1 = df.lastPrice <= 75
cond2 = df.value_plus <= -.15
cond3 = df.expiration <= pd.to_datetime(pd.Period(date.today(),freq='M').end_time.date()).floor('D')
cond4 = df.volume > 500
cond5 = df.ask >= 30
cond6 = df.optionType = 'calls'

In [63]:


df_filtered = df.query("lastPrice<=75 & openInterest >=500 & expiration <= EOM & openInterest > 500  & ask >= 30 & value_plus <= -.15 ")

In [69]:
df_filtered2= df_filtered[['symbol','expiration','strike','lastPrice','ask','option_bs_mean_S','stock_price','value_plus']].loc[(df_filtered.optionType == "calls")].sort_values('value_plus').head(25)

In [72]:
df_filtered2['share_purchase_cost'] = df_filtered2.stock_price *100
df_filtered2['short_call_income'] = df_filtered2.ask *100

In [73]:
df_filtered2

,symbol,expiration,strike,lastPrice,ask,option_bs_mean_S,stock_price,value_plus,share_purchase_cost,short_call_income
7099,AMZN,2023-01-20,3700.0,31.40,33.80,4.416409e-16,87.36,-1.000000,8736.0,3380.0
7100,AMZN,2023-01-20,3750.0,29.55,30.40,4.404028e-17,87.36,-1.000000,8736.0,3040.0
7098,AMZN,2023-01-20,3650.0,37.50,36.20,4.061534e-15,87.36,-1.000000,8736.0,3620.0
7097,AMZN,2023-01-20,3600.0,37.50,39.55,3.463419e-14,87.36,-1.000000,8736.0,3955.0
7096,AMZN,2023-01-20,3550.0,42.60,44.20,3.001343e-13,87.36,-1.000000,8736.0,4420.0
7095,AMZN,2023-01-20,3500.0,45.95,48.45,4.842994e-12,87.36,-1.000000,8736.0,4845.0
7085,AMZN,2023-01-20,3400.0,56.80,58.40,3.655583e-10,87.36,-1.000000,8736.0,5840.0
7073,AMZN,2023-01-20,3300.0,67.50,70.75,1.087659e-07,87.36,-1.000000,8736.0,7075.0
17748,GOOGL,2023-01-20,52.0,69.50,60.20,3.620223e+01,88.02,-0.392070,8802.0,6020.0
14872,GOOG,2023-01-20,42.0,74.09,73.30,4.690236e+01,88.80,-0.338472,8880.0,7330.0
14869,GOOG,2023-01-20,39.0,73.95,75.30,4.987681e+01,88.80,-0.318157,8880.0,7530.0
17754,GOOGL,2023-01-20,58.0,30.70,43.30,3.005624e+01,88.02,-0.298571,8802.0,4330.0

In [59]:

slope = pd.pivot_table(df, index = ['symbol','expiration'], columns='strike', values = 'impliedVolatility', aggfunc='mean').reset_index(level=1)

In [60]:
slope.reset_index(inplace=True)

In [61]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4800.0,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0
0,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2023-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:

def slope_reg(i):
    #for i in range(len(slope.index)):
        slopex=slope.iloc[[i]].dropna(1)
        slopex1 = slopex.T
        x =slopex1.index[2:].to_numpy()
        x=x.astype(float)
        y = slopex1.iloc[2:,0:].to_numpy()
        y = y.ravel()
        y=y.astype(float)
        slopeB = stats.linregress(x, y)
        return slopeB.slope

In [63]:
slope['slope_reg'] = slope.apply(lambda row: slope_reg(row.name), axis=1)

In [64]:
slope.head()

strike,symbol,expiration,1.0,1.67,2.0,3.0,3.33,3.5,4.0,4.5,...,4850.0,4900.0,4950.0,5000.0,5100.0,5200.0,5300.0,5400.0,5500.0,slope_reg
0,AAPL,2023-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.003652
1,AAPL,2023-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001169
2,AAPL,2023-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.005774
3,AAPL,2023-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002905
4,AAPL,2023-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.004516

In [65]:
slope.groupby(['symbol'])['slope_reg'].mean().to_frame().reset_index().sort_values(['slope_reg'], ascending=False)

   symbol  slope_reg
31   UVXY   0.029181
11  GOOGL   0.000641
25    QQQ  -0.000402
1    ADBE  -0.000454
15   INTU  -0.000538
7    COST  -0.000648
2     AMD  -0.000678
19   MSFT  -0.000702
5    AVGO  -0.000706
30    TXN  -0.000790
29   TSLA  -0.000832
12     HD  -0.001034
21   NVDA  -0.001048
20   NFLX  -0.001073
27    SPY  -0.001211
24   QCOM  -0.001322
4    AMZN  -0.001339
13    HON  -0.001668
0    AAPL  -0.001727
18   META  -0.001997
3    AMGN  -0.002085
10   GOOG  -0.002141
32    WMT  -0.002996
22    PEP  -0.003142
23     PG  -0.003298
28   TMUS  -0.003528
26   SBUX  -0.003723
16    JNJ  -0.003764
8    CSCO  -0.003983
14   INTC  -0.006019
9    GILD  -0.007602
17     KO  -0.008579
6   CMCSA  -0.012342

In [66]:
slope.groupby(['symbol'])['slope_reg'].apply(lambda x : x.head(3).reset_index(drop = True)).groupby(['symbol']).mean().sort_values(ascending=False).head(20).to_frame().reset_index()

   symbol  slope_reg
0    UVXY   0.031989
1    CSCO   0.005593
2   GOOGL   0.004773
3     AMD   0.003896
4     QQQ   0.001680
5    TSLA   0.000978
6    MSFT   0.000649
7    ADBE  -0.000251
8    QCOM  -0.000474
9    INTU  -0.000526
10   NVDA  -0.001051
11   COST  -0.001503
12     HD  -0.001653
13   AVGO  -0.001782
14   AMZN  -0.002199
15    TXN  -0.002379
16    HON  -0.002424
17   NFLX  -0.002536
18   AMGN  -0.002781
19   AAPL  -0.003532