In [1]:

import pandas as pd
import numpy as np
import scipy
from scipy.stats import norm
#import datetime
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
import csv
import time

from yahooquery import Ticker


#import pandas_datareader.data as data
#import yfinance as yf


#yf.pdr_override()
from scipy import stats


import mibian

import sys

np.seterr(divide='ignore', invalid='ignore')

import xlwings as xw

In [2]:

wb = xw.Book("daily.xlsm")
sht2 = wb.sheets['options_chain']
sht3 = wb.sheets['ticker_list']

In [3]:
shtlist= sht3.range('A1').options(pd.DataFrame, 
                             header=False,
                             index=False, 
                             expand='table').value

In [4]:
stonks=shtlist.iloc[1:,0].tolist()

In [5]:
stonks

['AAPL',
 'MSFT',
 'AMZN',
 'GOOG',
 'NVDA',
 'TSLA',
 'GOOGL',
 'FB',
 'AVGO',
 'COST',
 'CSCO',
 'PEP',
 'CMCSA',
 'ADBE',
 'INTC',
 'AMD',
 'QCOM',
 'TXN',
 'TMUS',
 'NFLX',
 'AMGN',
 'HON',
 'INTU',
 'PYPL',
 'AMAT',
 'QQQ',
 'KO',
 'SBUX',
 'WMT',
 'JNJ',
 'PG',
 'UVXY',
 'SPY',
 'HD',
 'USO']

In [6]:
stocklist = stonks

In [7]:
t1 = Ticker(stonks, asynchronous=True)

In [8]:
df = pd.DataFrame()
df = t1.option_chain

In [9]:
df.shape

(60945, 14)

In [10]:
df.head()

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
AAPL   2022-04-08 calls       AAPL220408C00100000   100.0      USD      77.09
                  calls       AAPL220408C00110000   110.0      USD      65.75
                  calls       AAPL220408C00120000   120.0      USD      51.90
                  calls       AAPL220408C00125000   125.0      USD      52.43
                  calls       AAPL220408C00130000   130.0      USD      44.00

                                change  percentChange  volume  openInterest  \
symbol expiration optionType
AAPL   2022-04-08 calls       4.039993       5.530449     2.0          51.0
                  calls       0.000000       0.000000     7.0          17.0
                  calls       0.000000       0.000000    22.0          69.0
                  calls       0.000000       0.000000     5.0          93.0
                  calls       0.849998       1.969869     1.0          89.0

                                bid    ask contractSize       lastTradeDate  \
symbol expiration optionType
AAPL   2022-04-08 calls       77.20  79.55      REGULAR 2022-04-04 17:24:22
                  calls       67.10  69.45      REGULAR 2022-03-31 19:50:00
                  calls       57.55  59.25      REGULAR 2022-03-23 17:45:47
                  calls       52.65  54.65      REGULAR 2022-03-30 19:33:00
                  calls       47.50  49.25      REGULAR 2022-04-04 13:30:02

                              impliedVolatility  inTheMoney
symbol expiration optionType
AAPL   2022-04-08 calls                3.091799        True
                  calls                2.601566        True
                  calls                2.103520        True
                  calls                1.503909        True
                  calls                1.746095        True

In [11]:
df.reset_index(inplace=True)

In [12]:
#df.loc[df['symbol'] == 'MSFT']

In [13]:
stocks=df.symbol.unique().tolist() 
stocks2 = Ticker(stocks, asynchronous=True)

In [14]:


def getquotetoday(symbol):
        tk= Ticker(symbol).price
        quote=tk[symbol]['regularMarketPrice']
        return quote

In [15]:

start = time.time()


L2=list([getquotetoday(item) for item in stocks])


end = time.time()
print(end - start)

5.7867889404296875

In [16]:
d = dict(zip(stocks,L2))

In [17]:
df['stock_price'] = df['symbol'].map(d)

In [18]:
df

,symbol,expiration,optionType,contractSymbol,strike,currency,lastPrice,change,percentChange,volume,openInterest,bid,ask,contractSize,lastTradeDate,impliedVolatility,inTheMoney,stock_price
0,AAPL,2022-04-08,calls,AAPL220408C00100000,100.0,USD,77.09,4.039993,5.530449,2.0,51.0,77.20,79.55,REGULAR,2022-04-04 17:24:22,3.091799,True,178.44
1,AAPL,2022-04-08,calls,AAPL220408C00110000,110.0,USD,65.75,0.000000,0.000000,7.0,17.0,67.10,69.45,REGULAR,2022-03-31 19:50:00,2.601566,True,178.44
2,AAPL,2022-04-08,calls,AAPL220408C00120000,120.0,USD,51.90,0.000000,0.000000,22.0,69.0,57.55,59.25,REGULAR,2022-03-23 17:45:47,2.103520,True,178.44
3,AAPL,2022-04-08,calls,AAPL220408C00125000,125.0,USD,52.43,0.000000,0.000000,5.0,93.0,52.65,54.65,REGULAR,2022-03-30 19:33:00,1.503909,True,178.44
4,AAPL,2022-04-08,calls,AAPL220408C00130000,130.0,USD,44.00,0.849998,1.969869,1.0,89.0,47.50,49.25,REGULAR,2022-04-04 13:30:02,1.746095,True,178.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60940,WMT,2024-01-19,puts,WMT240119P00175000,175.0,USD,28.98,-8.650002,-22.986980,1.0,1.0,29.70,31.00,REGULAR,2022-04-04 15:52:57,0.188057,True,151.04
60941,WMT,2024-01-19,puts,WMT240119P00185000,185.0,USD,46.80,0.000000,0.000000,0.0,1.0,46.55,52.35,REGULAR,2021-11-10 11:55:03,0.367957,True,151.04
60942,WMT,2024-01-19,puts,WMT240119P00195000,195.0,USD,61.50,0.000000,0.000000,0.0,0.0,0.00,0.00,REGULAR,2021-12-13 05:07:51,0.000010,True,151.04
60943,WMT,2024-01-19,puts,WMT240119P00200000,200.0,USD,51.35,0.000000,0.000000,1.0,2.0,50.00,51.35,REGULAR,2022-04-01 15:09:54,0.177865,True,151.04
60944,WMT,2024-01-19,puts,WMT240119P00220000,220.0,USD,82.50,0.000000,0.000000,2.0,2.0,79.30,84.00,REGULAR,2021-12-22 16:26:30,0.419088,True,151.04

In [19]:
def optionBS_price(optionType,S, K, sigma, dte):
    '''optionType=call or put, S=stock_price,K=strike, sigma=newMeanSigma, dte=dte .'''
    r=0
    t=dte/365
    d1 = np.multiply( 1. / sigma * np.divide(1., np.sqrt(t)),
        np.log(S/K) + (r + sigma**2 / 2.) * t  )
    d2 = d1 - sigma * np.sqrt(t)
    
    if optionType=="calls":
        C = np.multiply(S, norm.cdf(d1)) - \
        np.multiply(norm.cdf(d2) * K, np.exp(-r * t))
        return C
       
    if optionType=="puts":
        P = -np.multiply(S, norm.cdf(-d1)) + \
        np.multiply(norm.cdf(-d2) * K, np.exp(-r * t))
        return P

In [20]:
df['V/OI']= df['volume'].astype('float')/df['openInterest']
df['contractSymbol'] = df['contractSymbol'].astype(str)

df[['bid', 'ask', 'strike']] = df[['bid', 'ask', 'strike']].apply(pd.to_numeric)
df['mark'] = (df['bid'] + df['ask']) / 2 # Calculate the midpoint of the bid-ask

        
df.insert(3, 'Distance OTM', df['stock_price'] - df['strike'])
df['Value'] = df['openInterest']*df['lastPrice']*100
df['Dist/Price'] = -df['Distance OTM'] / df['stock_price'] 

df['dte'] = (df['expiration'] - datetime.today()).dt.days 



df = df.drop(columns = ['contractSize', 'currency', 'change', 'percentChange', 'lastTradeDate'])

In [21]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,ask,impliedVolatility,inTheMoney,stock_price,V/OI,mark,Value,Dist/Price,dte
0,AAPL,2022-04-08,calls,78.44,AAPL220408C00100000,100.0,77.09,2.0,51.0,77.20,79.55,3.091799,True,178.44,0.039216,78.375,393159.0,-0.439588,3
1,AAPL,2022-04-08,calls,68.44,AAPL220408C00110000,110.0,65.75,7.0,17.0,67.10,69.45,2.601566,True,178.44,0.411765,68.275,111775.0,-0.383546,3
2,AAPL,2022-04-08,calls,58.44,AAPL220408C00120000,120.0,51.90,22.0,69.0,57.55,59.25,2.103520,True,178.44,0.318841,58.400,358110.0,-0.327505,3
3,AAPL,2022-04-08,calls,53.44,AAPL220408C00125000,125.0,52.43,5.0,93.0,52.65,54.65,1.503909,True,178.44,0.053763,53.650,487599.0,-0.299484,3
4,AAPL,2022-04-08,calls,48.44,AAPL220408C00130000,130.0,44.00,1.0,89.0,47.50,49.25,1.746095,True,178.44,0.011236,48.375,391600.0,-0.271464,3

In [22]:
df['Abs_Dist/Price'] = df['Dist/Price'].abs()

In [23]:
#def gamma(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).gamma
        
#with np.errstate(divide='ignore', invalid='ignore'):
 #   df['gamma'] = df.apply(lambda x: gamma(x), axis=1)

In [24]:
#def vega(row):
 #   return  mibian.BS([row['stock_price'], row['strike'],0,row['dte']], volatility=(row['impliedVolatility']*100)).vega

#with np.errstate(divide='ignore', invalid='ignore'):        
 #   df['vega'] = df.apply(lambda x: vega(x), axis=1)

In [25]:
#df['vega_per'] = df['vega'] / df['ask'] 
#df['IV_inver'] = 1 / df['impliedVolatility']

In [26]:
d = datetime.today() - timedelta(days=30)
yq_data = stocks2.history(start=d, interval='1d')

In [27]:
yq_data.reset_index(inplace=True)

In [28]:
yq_data

,symbol,date,low,open,volume,high,close,adjclose,dividends
0,AAPL,2022-03-07,159.039993,163.360001,96418800,165.020004,159.300003,159.300003,0.0
1,AAPL,2022-03-08,155.800003,158.820007,131148300,162.880005,157.440002,157.440002,0.0
2,AAPL,2022-03-09,159.410004,161.479996,91454900,163.410004,162.949997,162.949997,0.0
3,AAPL,2022-03-10,155.979996,160.199997,105342000,160.389999,158.520004,158.520004,0.0
4,AAPL,2022-03-11,154.500000,158.929993,96836300,159.279999,154.729996,154.729996,0.0
...,...,...,...,...,...,...,...,...,...
730,WMT,2022-03-29,146.250000,146.600006,6644800,148.100006,147.229996,147.229996,0.0
731,WMT,2022-03-30,147.039993,147.130005,8330500,150.179993,149.869995,149.869995,0.0
732,WMT,2022-03-31,148.179993,148.789993,9054600,150.539993,148.919998,148.919998,0.0
733,WMT,2022-04-01,148.839996,149.660004,6978600,151.270004,151.009995,151.009995,0.0
734,WMT,2022-04-04,150.080002,150.910004,7885455,153.169998,151.039993,151.039993,0.0

In [29]:
today_volume = yq_data.groupby('symbol')['volume'].last().to_dict()

In [30]:
yq_data = yq_data.drop(columns = ['open', 'low', 'close', 'high','dividends'])# 'dividends'])

In [31]:
yq_data = yq_data.assign(logret=np.log(yq_data.adjclose).groupby(yq_data.symbol).diff())

In [32]:
yq_data

    symbol        date     volume    adjclose    logret
0     AAPL  2022-03-07   96418800  159.300003       NaN
1     AAPL  2022-03-08  131148300  157.440002 -0.011745
2     AAPL  2022-03-09   91454900  162.949997  0.034399
3     AAPL  2022-03-10  105342000  158.520004 -0.027563
4     AAPL  2022-03-11   96836300  154.729996 -0.024199
..     ...         ...        ...         ...       ...
730    WMT  2022-03-29    6644800  147.229996  0.008389
731    WMT  2022-03-30    8330500  149.869995  0.017772
732    WMT  2022-03-31    9054600  148.919998 -0.006359
733    WMT  2022-04-01    6978600  151.009995  0.013937
734    WMT  2022-04-04    7885455  151.039993  0.000199

[735 rows x 5 columns]

In [33]:
yq_data2 =pd.DataFrame()

yq_data2 = yq_data.groupby('symbol').agg(np.std, ddof=1)

In [34]:
yq_data2

        date        volume    adjclose    logret
symbol
AAPL     NaN  1.415299e+07    8.942673  0.019565
ADBE     NaN  2.366731e+06   16.953069  0.035218
AMAT     NaN  1.882734e+06    6.229047  0.030106
AMD      NaN  1.529906e+07    6.152862  0.038285
AMGN     NaN  1.258450e+06    5.167704  0.008758
AMZN     NaN  1.016819e+06  225.242104  0.021960
AVGO     NaN  6.520161e+05   24.461729  0.019974
CMCSA    NaN  5.320195e+06    0.900559  0.010501
COST     NaN  7.471272e+05   18.373929  0.010980
CSCO     NaN  7.731104e+06    0.647991  0.013751
FB       NaN  7.297632e+06   15.550308  0.026362
GOOG     NaN  3.371655e+05  114.414225  0.019353
GOOGL    NaN  3.476181e+05  114.332635  0.019600
HD       NaN  1.959760e+06   10.807282  0.019237
HON      NaN  1.450910e+06    5.618032  0.010765
INTC     NaN  8.393854e+06    2.290434  0.024883
INTU     NaN  4.646898e+05   19.799315  0.029134
JNJ      NaN  2.584825e+06    3.251355  0.010881
KO       NaN  5.862381e+06    1.651311  0.013221
MSFT     NaN  6.764835e+06   12.986945  0.018627
NFLX     NaN  1.270651e+06   17.433288  0.029283
NVDA     NaN  1.209682e+07   25.395909  0.040472
PEP      NaN  1.929670e+06    4.826456  0.011600
PG       NaN  2.485367e+06    3.419140  0.016044
PYPL     NaN  5.394965e+06    9.645687  0.032621
QCOM     NaN  3.681283e+06    4.844080  0.032064
QQQ      NaN  1.692466e+07   17.382447  0.018517
SBUX     NaN  5.028255e+06    3.085075  0.028730
SPY      NaN  2.725223e+07   15.687491  0.012449
TMUS     NaN  1.160482e+06    3.075043  0.012924
TSLA     NaN  6.203623e+06  123.615934  0.035125
TXN      NaN  1.443422e+06    7.298417  0.017866
USO      NaN  7.273931e+06    4.268917  0.050058
UVXY     NaN  1.645634e+07    3.515036  0.050769
WMT      NaN  2.246002e+06    3.561268  0.011103

In [35]:
yq_data2['stdev'] = yq_data2['logret'] * 252**.5

In [36]:
yq_data2.reset_index(inplace=True)

In [37]:
vol_map = dict(yq_data2[['symbol','stdev']].values)

In [38]:
d90 = datetime.today() - timedelta(days=90)
yq_data90x = stocks2.history(start=d90, interval='1d')

yq_data90x.reset_index(inplace=True)

yq_data90 = yq_data90x.drop(columns = ['open', 'low', 'close', 'high', 'dividends'])
yq_data90 = yq_data90.assign(logret=np.log(yq_data90.adjclose).groupby(yq_data90.symbol).diff()) 

yq_data2_90 =pd.DataFrame()

yq_data2_90 = yq_data90.groupby('symbol').agg(np.std, ddof=1) 

yq_data2_90['stdev'] = yq_data2_90['logret'] * 252**.5
yq_data2_90.reset_index(inplace=True)
vol_map90 = dict(yq_data2_90[['symbol','stdev']].values)

In [39]:
yq_data90

     symbol        date       volume    adjclose    logret
0      AAPL  2022-01-05   94537600.0  174.697418       NaN
1      AAPL  2022-01-06   96904000.0  171.781143 -0.016834
2      AAPL  2022-01-07   86709100.0  171.950928  0.000988
3      AAPL  2022-01-10  106765600.0  171.970901  0.000116
4      AAPL  2022-01-11   76138300.0  174.857224  0.016644
...     ...         ...          ...         ...       ...
2167    WMT  2022-03-29    6644800.0  147.229996  0.008389
2168    WMT  2022-03-30    8330500.0  149.869995  0.017772
2169    WMT  2022-03-31    9054600.0  148.919998 -0.006359
2170    WMT  2022-04-01    6978600.0  151.009995  0.013937
2171    WMT  2022-04-04    7885455.0  151.039993  0.000199

[2172 rows x 5 columns]

In [40]:
yq_data3 =pd.DataFrame()

yq_data3 = yq_data.groupby('symbol')['volume'].agg(np.mean).to_dict()

In [41]:
df['h_volume'] = df.symbol.map(yq_data3)

In [42]:
df['volume_today'] = df.symbol.map(today_volume)

In [43]:
df['hvol_30'] = df.symbol.map(vol_map)

In [44]:
df['hvol_90'] = df.symbol.map(vol_map90)

In [45]:
df['vT/vH'] =  df['volume_today'] / df['h_volume']

In [46]:
df['mean_sigma'] =  .65*df['hvol_30'] + .2*df['hvol_90'] +.15*df['impliedVolatility'] 
df['ba_spread'] =  ((df['ask'] - df['bid'])/df['ask']).abs()

In [47]:
df = df[df['ba_spread'] > 0]

In [48]:
df['option_bs_mean_S'] = df.apply(lambda row: optionBS_price(row['optionType'],row['stock_price'], row['strike'],row['mean_sigma'],row['dte']), axis=1)

In [49]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,dte,Abs_Dist/Price,h_volume,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S
0,AAPL,2022-04-08,calls,78.44,AAPL220408C00100000,100.0,77.09,2.0,51.0,77.20,...,3,0.439588,9.580423e+07,76298077,0.310587,0.297645,0.796396,0.725180,0.029541,78.44
1,AAPL,2022-04-08,calls,68.44,AAPL220408C00110000,110.0,65.75,7.0,17.0,67.10,...,3,0.383546,9.580423e+07,76298077,0.310587,0.297645,0.796396,0.651645,0.033837,68.44
2,AAPL,2022-04-08,calls,58.44,AAPL220408C00120000,120.0,51.90,22.0,69.0,57.55,...,3,0.327505,9.580423e+07,76298077,0.310587,0.297645,0.796396,0.576939,0.028692,58.44
3,AAPL,2022-04-08,calls,53.44,AAPL220408C00125000,125.0,52.43,5.0,93.0,52.65,...,3,0.299484,9.580423e+07,76298077,0.310587,0.297645,0.796396,0.486997,0.036597,53.44
4,AAPL,2022-04-08,calls,48.44,AAPL220408C00130000,130.0,44.00,1.0,89.0,47.50,...,3,0.271464,9.580423e+07,76298077,0.310587,0.297645,0.796396,0.523325,0.035533,48.44

In [50]:
df['value+'] = (df['option_bs_mean_S']/df.mark)-1

In [51]:
from MACD import rollavg
Price_roll = rollavg(stocks,yq_data90x,30,"Price",MACD_P=True)

In [52]:
Volume_roll = rollavg(stocks,yq_data90x,30,"Volume",MACD_V=True)

In [53]:
df['MACD_P'] = df['symbol'].map(Price_roll)
df['MACD_V'] = df['symbol'].map(Volume_roll)

In [54]:
df.head()

,symbol,expiration,optionType,Distance OTM,contractSymbol,strike,lastPrice,volume,openInterest,bid,...,volume_today,hvol_30,hvol_90,vT/vH,mean_sigma,ba_spread,option_bs_mean_S,value+,MACD_P,MACD_V
0,AAPL,2022-04-08,calls,78.44,AAPL220408C00100000,100.0,77.09,2.0,51.0,77.20,...,76298077,0.310587,0.297645,0.796396,0.725180,0.029541,78.44,0.000829,1.013426,0.960172
1,AAPL,2022-04-08,calls,68.44,AAPL220408C00110000,110.0,65.75,7.0,17.0,67.10,...,76298077,0.310587,0.297645,0.796396,0.651645,0.033837,68.44,0.002417,1.013426,0.960172
2,AAPL,2022-04-08,calls,58.44,AAPL220408C00120000,120.0,51.90,22.0,69.0,57.55,...,76298077,0.310587,0.297645,0.796396,0.576939,0.028692,58.44,0.000685,1.013426,0.960172
3,AAPL,2022-04-08,calls,53.44,AAPL220408C00125000,125.0,52.43,5.0,93.0,52.65,...,76298077,0.310587,0.297645,0.796396,0.486997,0.036597,53.44,-0.003914,1.013426,0.960172
4,AAPL,2022-04-08,calls,48.44,AAPL220408C00130000,130.0,44.00,1.0,89.0,47.50,...,76298077,0.310587,0.297645,0.796396,0.523325,0.035533,48.44,0.001344,1.013426,0.960172

In [55]:
#df.loc[(df['symbol'] == 'GSK') & (df['expiration'] == '2021-08-20') & (df['strike'] ==29), ['strike', 'ask','impliedVolatility','stock_price','dte','gamma','vega']]

In [56]:
#df.loc[(df['symbol'] == 'HOL')  & (df['strike'] ==10) & (df['expiration'] =='2021-06-18'),['optionType','hvol','hvol90','impliedVolatility']]

In [57]:
sht2.clear_contents()

In [58]:

sht2["A1"].options(pd.DataFrame, index=False, header=1,expand='table').value = df

In [62]:

slope = pd.pivot_table(df, index = ['symbol','expiration'], columns='strike', values = 'impliedVolatility', aggfunc='mean').reset_index(level=1)

In [63]:
slope.reset_index(inplace=True)

In [64]:
slope.head()

strike,symbol,expiration,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,4950.0,5000.0,5050.0,5100.0,5150.0,5200.0,5250.0,5300.0,5400.0,5500.0
0,AAPL,2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL,2022-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL,2022-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL,2022-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL,2022-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:

def slope_reg(i):
    #for i in range(len(slope.index)):
        slopex=slope.iloc[[i]].dropna(1)
        slopex1 = slopex.T
        x =slopex1.index[2:].to_numpy()
        x=x.astype(float)
        y = slopex1.iloc[2:,0:].to_numpy()
        y = y.ravel()
        y=y.astype(float)
        slopeB = stats.linregress(x, y)
        return slopeB.slope

In [66]:
slope['slope_reg'] = slope.apply(lambda row: slope_reg(row.name), axis=1)

In [67]:
slope.head()

strike,symbol,expiration,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,5000.0,5050.0,5100.0,5150.0,5200.0,5250.0,5300.0,5400.0,5500.0,slope_reg
0,AAPL,2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001749
1,AAPL,2022-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002137
2,AAPL,2022-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001919
3,AAPL,2022-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001892
4,AAPL,2022-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001799

In [68]:
slope.groupby(['symbol'])['slope_reg'].mean().to_frame().reset_index().sort_values(['slope_reg'], ascending=False)

   symbol  slope_reg
33   UVXY   0.024867
10     FB   0.000283
30   TSLA  -0.000079
16   INTU  -0.000112
12  GOOGL  -0.000125
5    AMZN  -0.000134
11   GOOG  -0.000144
1    ADBE  -0.000152
20   NFLX  -0.000162
13     HD  -0.000494
3     AMD  -0.000525
21   NVDA  -0.000565
24   PYPL  -0.000732
27   SBUX  -0.000829
6    AVGO  -0.000835
8    COST  -0.000972
19   MSFT  -0.001015
0    AAPL  -0.001043
25   QCOM  -0.001517
32    USO  -0.002025
9    CSCO  -0.002168
26    QQQ  -0.002236
28    SPY  -0.002353
4    AMGN  -0.002660
14    HON  -0.002733
22    PEP  -0.002845
2    AMAT  -0.002873
17    JNJ  -0.003391
34    WMT  -0.003425
31    TXN  -0.004905
23     PG  -0.005090
29   TMUS  -0.005403
15   INTC  -0.007497
18     KO  -0.009997
7   CMCSA  -0.013559

In [69]:
slope.groupby(['symbol'])['slope_reg'].apply(lambda x : x.head(3).reset_index(drop = True)).groupby(['symbol']).mean().sort_values(ascending=False).head(20).to_frame().reset_index()

   symbol  slope_reg
0    UVXY   0.050373
1    SBUX   0.002752
2      FB   0.001892
3    INTU   0.001261
4      HD   0.000832
5    NFLX   0.000691
6    ADBE   0.000546
7    TSLA  -0.000076
8    PYPL  -0.000078
9   GOOGL  -0.000248
10   GOOG  -0.000304
11   AMZN  -0.000374
12   NVDA  -0.000828
13    AMD  -0.001035
14   CSCO  -0.001216
15   QCOM  -0.001526
16   AVGO  -0.001688
17   MSFT  -0.001862
18   COST  -0.001916
19   AAPL  -0.001935